<h1>Categories</h1>
<%= link_to "New Category", new_category_path %>
<% @categories.each do |category| %>
  <div>
    <h2><%= category.name %></h2>
    <span><%= category.photos_count%></span><br>
    <p><%= category.description %></p>
    <%= link_to "Show", category_path(category) %>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), data: {
      turbo_method: :delete,
      trube_confirm: "Are you sure?"
    } %>
  </div>
<% end %>
