<h1><%= @category.name %></h1>
<p><%= @category.description %></p>
<%= link_to "New photo", new_photo_path(category_id: @category.id) %>
<% @photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %> <br>
<% end %>
<div>
  <%= render "comments/form", comment: @comment, commentable: @category %>
</div>
<div>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>