<h1><%= @category.name %></h1>
<p><%= @category.description %></p>
<%= link_to "New photo", new_photo_path(category_id: @category.id) %>
<% @photos.each do |photo| %>
  <div>
    <h2><%= photo.title %></h2>
    <p><span><%= photo.comments.count %> comments</span></p>
    <%= link_to "Show", photo_path(photo) %>
    <%= link_to "Edit", edit_photo_path(photo) %>
    <%= link_to "Delete", photo_path(photo), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
<% end %>